.arrow__down {
      width: 20px;
}
ul.more__list {
    position: absolute;
    background-color: #eee;
    /* text-align: center; */
    display: block;
    font-size: 20px;
}

// .more__contents {
//       position: absolute;
//       cursor: pointer;
//       top: 108px;
//       right: 957px;
//       z-index: 2;
//       height: 30px;
//       width: 25px;
//       text-align: right;
//       &:hover ul.more__list {
//         display: block;
//       }
//       ul.more__list {
//         position: absolute;
//         text-align: left;
//         width: 80px;
//         left: 10;
//         font-size: 12px;
//         background-color: #fff;
//         border: 1px solid #ddd;
//         display: none;
//         box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
//         border-radius: 3px;
//         li {
//           border-bottom: 1px solid #ddd;
//           &:last-child {
//             border-bottom: 0;
//           }
//           a {
//             display: block;
//             padding: 5px;
//             &:hover {
//               background-color: $accent;
//               color: #fff;
//             }
//           }
//         }
//       }
//     }