.user__name {
	font-size: 25px;
	text-align: center;
}

h3.user__article__number {
    font-weight: normal;
    text-align: center;
}

.user__article {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.user_post {
    margin: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    position: relative;
    flex: 1 calc(100% / 4);
}

.post__detail {
    position: absolute;
    top: 210px;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.post__title {
    font-size: 18px;
    margin: 4px;
    text-align: center;
    color: #060606;
}

.post__date {
    font-size: 10px;
    text-align: center;
}