.header__post {
	width: 66px;
}

.post__button {
	padding: 8px 20px;
    font-size: 14px;
    border: 2px solid #57C3E9;
    color: #57C3E9;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
}