.u-mt-zero {
  margin-top: 0 !important;
}

.u-mt-xx-small {
  margin-top: 5px !important;
}

.u-mt-x-small {
  margin-top: 10px !important;
}

.u-mt-small {
  margin-top: 20px !important;
}

.u-mt {
  margin-top: 30px !important;
}

.u-mt-large {
  margin-top: 40px !important;
}

.u-mt-x-large {
  margin-top: 50px !important;
}

.u-mb-zero {
  margin-bottom: 0 !important;
}

.u-mb-xx-small {
  margin-bottom: 5px !important;
}

.u-mb-x-small {
  margin-bottom: 10px !important;
}

.u-mb-small {
  margin-bottom: 20px !important;
}

.u-mb {
  margin-bottom: 30px !important;
}

.u-mb-large {
  margin-bottom: 40px !important;
}

.u-mb-x-large {
  margin-tbottom: 50px !important;
}

.u-pt {
  padding-top: 30px !important;
}

.u-pb {
  padding-bottom: 30px !important;
}